@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap%27');

*::selection {
    color: #f9f9f9;
    background: #2b9871;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: -20px -20px;
}

::-webkit-scrollbar-thumb {
    background: #1c69ff;
}

::-webkit-scrollbar-thumb:hover {
    background: #0249d6;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#btn-scroll {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 35px;
    z-index: 99;
    /* font-size: 18px; */
    border: none;
    outline: none;
    background: linear-gradient(180deg, #1c69ff, #1bf499);
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: .3s;
    opacity: .8;
}

#btn-scroll:hover {
    opacity: 1.3;
}